.vs/
bin/
Bin/
obj/
log/
Log/
dll/
Dll/
lib/
Lib/
Properties/
packages/

*.pfx
*.png
*.jpg
*.bmp
*.exe
*.dll
*.suo
*.sln
*.user
*.db
*.log
*.config

#################
#vue project
test-project/

.DS_Store
node_modules
dist/


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
